<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
     <key>Label</key>
     <string>me.ljh.xiami_cloner</string>

     <key>ProgramArguments</key>
     <array>
          <string>/Users/Sunday/Programming/Git/sunutils/xm_clone_script</string>
     </array>

     <key>WatchPaths</key>
     <array>
          <string>/Users/Sunday/Dropbox/Synced/Playlist</string>
     </array>

     <key>StandardOutPath</key>
     <string>/Users/Sunday/Library/Logs/xiami_cloner.log</string>

     <key>StandardErrorPath</key>
     <string>/Users/Sunday/Library/Logs/xiami_cloner.log</string>
</dict>
</plist>